<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>
        <%= product.name %>
    </title>
</head>

<body>
    <div class="container">
        <h1>
            <%= product.name %>
        </h1>
        <p>
            <ul>
                <li>Price: <%= product.price %></li>
                <li>Category: <a href="/products?category=<%= product.category %>"><%= product.category %></a></li>
            </ul>
          
        </p>
        <a href="/products/<%= product._id %>/edit">Edit Current Product</a><br>
        <form method="post" action="/products/<%= product._id %>?_method=DELETE">
            <button>Delete</button>
        </form>
        <a href="/products">All Products</a>
    </div>
    <script language="javascript" src="/js/bootstrap.min.js"></script>
</body>

</html>